{{- if not $.Values.debug -}}
{{- $ingresses := merge (dict "" $.Values.ingress) $.Values.ingresses }}
{{- range $ingressKey, $ingressSpec := $ingresses }}
{{- if $ingressSpec.enabled -}}
{{- $ingress := mustMergeOverwrite (deepCopy $.Values.global.idpAppConfig.defaults.ingress) (deepCopy $ingressSpec) }}
{{- $deployments := default (dict "" dict) $.Values.deployment.multi }}
{{- range $deploymentKey, $deployment := $deployments }}
{{- $deploymentName := include "idp-app.deploymentName" (list $ $deploymentKey) }}
{{- $backendRef := dict }}
{{- if and $.Values.service.enabled $ingress.service }}
{{- fail "ingress: both service.enabled and ingress.service is set" }}
{{- else if $.Values.service.enabled }}
{{- $backendRef = dict "name" $deploymentName "port" (default "app" $.Values.service.port) }}
{{- else if $ingress.service }}
{{- $backendRef = deepCopy $ingress.service }}
{{- else }}
{{- fail "ingress: service must be enabled" }}
{{- end }}
{{- $ingressName := join "-" (compact (list $deploymentName $ingressKey)) }}
{{- $cluster := include "idp-app.clusterConfig" $ | fromYaml }}
{{- $domain := include "idp-app.clusterConfigMapValue" (list $ "domains" $ingress.domain) }}
{{- $host := (printf "%s.%s" $ingress.host $domain) | replace "__DEPLOYMENT_ID__" $deploymentKey }}
{{- $ingressClassName := required "ingress.className required" $ingress.className }}
{{- $svcPort := hasKey $ingress "fcgi" | ternary "fcgi" "http" }}
{{- $fcgiConfigMapName := printf "%s-ingress-fcgi" $ingressName }}
{{- if eq $svcPort "fcgi" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fcgiConfigMapName }}
  labels:
    {{- include "idp-app.labelsMulti" (list $ $deploymentKey) | nindent 4 }}
data:
  SCRIPT_FILENAME: {{ required "fcgi.documentRoot required" $ingress.fcgi.documentRoot }}$fastcgi_script_name
---
{{- end }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $ingressName }}
  labels:
    {{- include "idp-app.labelsMulti" (list $ $deploymentKey) | nindent 4 }}
  annotations:
    cert-manager.io/cluster-issuer: {{ $ingress.certManagerClusterIssuer }}
    {{- if eq $svcPort "fcgi" }}
    nginx.ingress.kubernetes.io/backend-protocol: "FCGI"
    nginx.ingress.kubernetes.io/fastcgi-index: index.php
    nginx.ingress.kubernetes.io/fastcgi-params-configmap: {{ $fcgiConfigMapName }}
    {{- end }}
    {{- if $ingress.basicAuth.enabled }}
    # https://kubernetes.github.io/ingress-nginx/examples/auth/basic/
    nginx.ingress.kubernetes.io/auth-type: basic
    # name of the secret that contains the user/password definitions
    nginx.ingress.kubernetes.io/auth-secret: {{ required "ingress.basicAuth.secretName required" $ingress.basicAuth.secretName }}
    nginx.ingress.kubernetes.io/auth-realm: 'Authentication Required'
    {{- end }}
    {{- if $ingress.oauth2ProxyAuth.enabled }}
    {{- $oauth2ProxyApp := include "idp-app.clusterConfigMapValue" (list $ "apps" $ingress.oauth2ProxyAuth.appName) | fromYaml }}
    {{- $_ := $oauth2ProxyApp.path | required "oauth2proxy: path required" }}
    {{- $authUrl       := printf "%s%s" ($oauth2ProxyApp.authUrl | required "oauth2proxy: authUrl required") $oauth2ProxyApp.path }}
    {{- $authSigninUrl := printf "%s%s" ($oauth2ProxyApp.signinUrl | required "oauth2proxy: signinUrl required") $oauth2ProxyApp.path }}
    nginx.ingress.kubernetes.io/auth-url: "{{ $authUrl }}/auth{{ if $ingress.oauth2ProxyAuth.allowedGroups }}?allowed_groups={{ join "," $ingress.oauth2ProxyAuth.allowedGroups }}{{ end }}"
    nginx.ingress.kubernetes.io/auth-signin: {{ tpl (printf "%s/start?rd=https://$host$request_uri" $authSigninUrl) $ | quote }}
    nginx.ingress.kubernetes.io/auth-response-headers: {{ join "," $oauth2ProxyApp.responseHeaders | quote}}
    # Set X-Forwarded-Host to auth request headers so this host appears in oauth2proxy logs
    nginx.ingress.kubernetes.io/auth-snippet: |
      proxy_set_header X-Forwarded-Host {{ $host }};
    {{- end }}
    {{- if $ingress.rewriteTarget }}
    nginx.ingress.kubernetes.io/rewrite-target: {{ $ingress.rewriteTarget }}/$2
    {{- end }}
    nginx.ingress.kubernetes.io/enable-access-log: {{ toString $ingress.accessLog.enabled | quote }}
    {{- if $ingress.annotations }}
    {{- toYaml $ingress.annotations | nindent 4 }}
    {{- end }}
spec:
  ingressClassName: {{ $ingressClassName }}
  tls:
    - hosts:
        - {{ $host | quote }}
      secretName: {{ $ingressName }}-ingress-tls
  rules:
    - host: {{ $host | quote }}
      http:
        paths:
          - path: {{ $ingress.path }}{{ if $ingress.rewriteTarget }}(/|$)(.*){{ end }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ tpl ($backendRef.name | required "ingress: service.name required") $ | quote }}
                port:
                  number: {{ $backendRef.port | required "ingress: service.port required" }}
---
{{- end }}
{{- end }}
{{- end }}
{{- end }}
