{{- if not .Values.debug -}}
{{- if .Values.prometheus.serviceMonitor.enabled }}
{{- if not $.Values.service.enabled }}
{{- fail "prometheus.serviceMonitor: service must be enabled" }}
{{- end }}
{{- $deployments := default (dict "" dict) $.Values.deployment.multi }}
{{- range $deploymentKey, $deployment := $deployments }}
{{- $deploymentName := include "idp-app.deploymentName" (list $ $deploymentKey) }}
# https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#servicemonitor
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ $deploymentName }}
  labels:
    {{- include "idp-app.labelsMulti" (list $ $deploymentKey) | nindent 4 }}
spec:
  endpoints:
    - targetPort: {{ $.Values.prometheus.port | required "prometheus.port required" }}
      {{- with $.Values.prometheus.serviceMonitor.interval }}
      interval: {{ . }}
      {{- end }}
      path: {{ $.Values.prometheus.path | required "prometheus.path required" }}
      {{- with $.Values.prometheus.params }}
      params:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.prometheus.serviceMonitor.scrapeTimeout }}
      scrapeTimeout: {{ . }}
      {{- end }}
      {{- with $.Values.prometheus.serviceMonitor.metricRelabelings }}
      metricRelabelings:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  namespaceSelector:
    matchNames:
      - {{ $.Release.Namespace }}
  selector:
    matchLabels:
      {{- include "idp-app.selectorLabels" (list $ $deploymentKey) | nindent 6 }}
---
{{- end}}
{{- end}}
{{- end}}
