{{- if not .Values.debug -}}
{{- if .Values.service.enabled }}
{{- $deployments := default (dict "" $.Values.deployment) $.Values.deployment.multi }}
{{- range $deploymentKey, $deployment := $deployments }}
{{- $deployment = mustMergeOverwrite (deepCopy $.Values.deployment) (deepCopy $deployment) }}
{{- if not (or $deployment.enabled $deployment.staticIps) }}
{{- fail "service: deployment must be enabled or staticIps specified" }}
{{- end }}
{{- $deploymentName := include "idp-app.deploymentName" (list $ $deploymentKey) }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $deploymentName }}
  labels:
    {{- include "idp-app.labelsMulti" (list $ $deploymentKey) | nindent 4 }}
spec:
  type: {{ $.Values.service.type }}
  ports:
    - port: {{ required "service.port required" $.Values.service.port }}
      targetPort: {{ default "app" $.Values.service.targetPort }}
      protocol: {{ $.Values.service.targetPortProtocol | default "TCP" }}
      name: app
      {{- with $.Values.service.additionalPorts }}
      {{- toYaml . | nindent 4 }}
      {{- end }}
  {{- if not $deployment.staticIps }}
  selector:
      {{- include "idp-app.selectorLabels" (list $ $deploymentKey) | nindent 4 }}
  {{- end }}
---
{{- if $deployment.staticIps }}
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: {{ $deploymentName }}-static
  labels:
    kubernetes.io/service-name: {{ $deploymentName }}
    endpointslice.kubernetes.io/managed-by: idp-app
addressType: IPv4
ports:
  - name: app
    protocol: {{ $.Values.service.targetPortProtocol | default "TCP" }}
    port: {{ required "service.targetPort required" $.Values.service.targetPort }}
endpoints:
  - addresses:
      {{ toYaml $deployment.staticIps | nindent 6 }}
    conditions:
      ready: true
---
{{- end }}
{{- end }}
{{- end }}
{{- end }}