{{- if not $.Values.debug }}
{{- $headlessService := $.Values.headlessService }}
{{- if $headlessService.enabled }}
{{- $deployments := default (dict "" $.Values.deployment) $.Values.deployment.multi }}
{{- range $deploymentKey, $deployment := $deployments }}
{{- $deployment = mustMergeOverwrite (deepCopy $.Values.deployment) (deepCopy $deployment) }}
{{- if not (or $deployment.enabled) }}
{{- fail "headlessService: deployment must be enabled" }}
{{- end }}
{{- $deploymentName := include "idp-app.deploymentName" (list $ $deploymentKey) }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $deploymentName }}-headless
  labels:
    {{- include "idp-app.labelsMulti" (list $ $deploymentKey) | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: {{ required "service.port required" $.Values.service.port }}
      targetPort: {{ default "app" $.Values.service.targetPort }}
      protocol: {{ $.Values.service.targetPortProtocol | default "TCP" }}
      name: app
    {{- with $.Values.service.additionalPorts }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  selector:
    {{- include "idp-app.selectorLabels" (list $ $deploymentKey) | nindent 4 }}
---
{{- end }}
{{- end }}
{{- end }}
